meta:
  engine: 4.1.0
units:
  # Proxy Spacing Variables
  kx: cx
  ky: cy
  # Padding Variables
  px: kx + 2
  py: ky + 2
  # Outline padding
  opx: px / 2
  opy: py / 2
points:
  zones:
    matrix:
      columns:
        outer:
          rows.thumb.skip: true
          rows.empty.skip: true
          key.column_net: P020
        pinky:
          rows.thumb.skip: true
          rows.empty.skip: true
          key.column_net: P022
        ring:
          rows.thumb.skip: true
          rows.empty.skip: true
          key.column_net: P024
        middle:
          rows.empty.skip: true
          key.column_net: P100
        index:
          rows.empty.skip: true
          key.column_net: P011
        inner:
          rows.empty.skip: true
          key.column_net: P017
      rows:
        thumb:
          row_net: P113
        empty:
          row_net: P115
        bottom:
          row_net: P002
        home:
          row_net: P029
        top:
          row_net: P031
outlines:
  raw:
    - what: polygon
      operation: stack
      points:
        - ref: matrix_outer_top
          shift: [-opx, opy]
        - ref: matrix_outer_bottom
          shift: [-opx, -opy]
        - ref: matrix_middle_bottom
          shift: [-opx, -opy]
        - ref: matrix_middle_thumb
          shift: [-opx, -opy]
        - ref: matrix_inner_thumb
          shift: [opx, -opy]
        - ref: matrix_inner_top
          shift: [opx, opy]
        - ref: matrix_outer_top
          shift: [0, opy]
pcbs:
  main:
    outlines:
      main:
        outline: raw
    footprints:
      choc_hotswap:
        what: choc
        where: true
        params:
          keycaps: true
          reverse: false
          hotswap: true
          from: "{{column_net}}"
          to: "{{colrow}}"
      diode:
        what: diode
        where: true
        params:
          from: "{{colrow}}"
          to: "{{row_net}}"
        adjust:
          shift: [0, -5]
      nice_nano:
        what: nice_nano
        params:
          orientation: up
        where:
          ref: matrix_inner_top
          shift: [-9, -1.5]
          rotate: -180.0
