/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        behaviors {
                // Tap: repeat last key, Hold: left alt
                alt_repeat: alt_key_repeat {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping-term-ms = <200>;
                        quick-tap-ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&key_repeat>;
                };

                // Single tap: sticky shift, Double tap: caps word
                shift_dance: shift_tap_dance {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&sk LSHIFT>, <&caps_word>;
                };

                // Tap: shift_dance, Hold: regular shift
                shift_mod: shift_modifier {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping-term-ms = <200>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&shift_dance>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "Default Layer";
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | = |
// | ESC  |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | ' |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | - |
//                    | CTRL | OPTION | CMD |   | ENT | SPACE  | BACKSPACE |
                        bindings = <
   &lt 2 TAB &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp EQUAL
   &lt 1 ESC &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &shift_mod LSHIFT 0 &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp MINUS
                  &kp LCTRL &alt_repeat LALT 0 &kp LGUI   &kp RET &kp SPACE &kp BSPC
                        >;
                };
                lower_layer {
                        display-name = "Lower Layer";
// -----------------------------------------------------------------------------------------
// Get into this layer by holding ESC key.
// | TAB  | 1 | 2 | 3 | 4 | 5 |   | 6 | 7 | 8 | 9  | 0  |     |
// | ESC  | ! | @ | # | $ | % |   | ^ | & | * | \  | up |  `  |
// | SHFT |BT1|BT2|BT3|BT4|BT5|   |   |   |   |left|down|right|
//                | [ | ( | { |   | } | ) | ]
                        bindings = <
   &trans    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5            &kp N6    &kp N7    &kp N8    &kp N9   &kp N0   &trans
   &trans    &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT         &kp CARET &kp AMPS  &kp ASTRK &kp BSLH &kp UP   &kp GRAVE
   &shift_mod LSHIFT 0 &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &trans    &trans    &trans    &kp LEFT &kp DOWN &kp RIGHT
                                    &kp LBKT     &kp LPAR     &kp LBRC      &kp RBRC  &kp RPAR   &kp RBKT
                        >;
                };

                raise_layer {
                        display-name = "Raise Layer";
// -----------------------------------------------------------------------------------------
// Get into this layer by holding TAB key.
// |  TAB |  f1  |  f2  |  f3  |  f4  |  f5  |   |  |  |  |  |  | |
// | CTRL |  f6  |  f7  |  f8  |  f9  | f10  |   |  |  fn  |  |  |  |  |
// | SHFT |  f11 |  f12 |     |     |     |   |  |  |  |  |  |  |
//                    | |     | |   | |     | |
                        bindings = <
   &trans    &kp F1   &kp F2   &kp F3   &kp F4   &kp F5      &trans   &trans   &trans    &trans &trans &kp C_MUTE
   &trans    &kp F6   &kp F7   &kp F8   &kp F9   &kp F10     &trans   &trans   &kp K_APP &trans &trans &kp C_VOL_UP
   &shift_mod LSHIFT 0 &kp F11  &kp F12  &trans   &trans   &trans      &trans   &trans   &trans    &trans &trans &kp C_VOL_DN
                             &trans   &trans   &trans      &trans   &trans    &trans
                        >;
                };
        };
};
